
/* App specific styles */

/* Removing default styling that conflicts with our new design */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: initial;
}

/* Black background for the entire app */
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
